<head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="../styles/style.css"/>
    <link type="text/css" rel="stylesheet" href="../styles/form-style.css"/>
</head>
    <!------------------------------------ Main------------------------------------>
<main>
<header class="blog-title">
    Login
</header>

<div class="user-login-block">
    <form>
        <h1 class="form-title">Username:</h1>
        <input type="text" value="" placeholder="Enter Username" id="username"/>
        <h1 class="form-title">Password:</h1>
        <input type="password" value="" placeholder="Enter password" id="password">
        <br>
        <button type="button" id="login-request-button">Login</button>
    </form>
    <a class="form-link" href="register.html">Register here</a>
</div>


<footer>
    <p class="footer-text">&copy; Software University Foundation, No Rights Reserved</p>
</footer>
</main>

